extends layout

block content
  h1= "Express"
  p now  #{now}
  p provider  #{provider}
  p USD-EUR #{oxr_USDEUR}
  p USD-GBP #{oxr_USDGBP}
  p EUR-USD #{oxr_EURUSD}
  p EUR-GBP #{oxr_EURGBP}
  p GBP-USD #{oxr_GBPUSD}
  p GBP-EUR #{oxr_GBPEUR}
